<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <td>
                    Advantages:
                </td>
                <td>
                    <ul class="ul">
                        <li>MVC ( Model View Controller)</li>
                        <li>Data Models are POJO (Plain Old Javascript Object)</li>
                        <li>Behavior with directives.</li>
                        <li>Filters</li>
                        <li>Services</li>
                        <li>Less code or boiler plates.</li>
                        <li>Easy dom manipulation</li>
                        <li>Easy to Test</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Disadvantages:
                </td>
                <td>
                    <ul class="ul">
                        <li>It does not fit with those libraries which are not angular specific.</li>
                        
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Limitations:</td>
                <td>
                    <uL class="ul">
                        <li>Specifically designed for CRUD applications.</li>
                        <li>Not preferable for games development.</li>
                    </uL>
                </td>
            </tr>
            <tr>
                <td>
                    References:
                </td>
                <td>
                    <ul class="ul">
                        <li>
                            Developers guide: https://docs.angularjs.org/guide
                        </li>
                        <li>
                            Code School: https://www.codeschool.com/ (Gregg Pollack One of the best teacher.)
                        </li>
                        <li>
                            AngularJS BOOK by Shyam Seshadri
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <h1><a href="#/goodbye">Now everyone wants to click me.</a></h1>
</div>