<div class="row">
    <div class="col-lg-12">
        <h1>Introduction</h1>
        <pre>
            AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and 
            lets you extend HTML's syntax to express your application's components clearly.
        </pre>
        <table class="table table-bordered">
            
            <tr>
                <td>
                    What you should already know?
                </td>
                <td>
                    JavaScript (Building Block), JSON
                </td>
            </tr>
            <tr>
                <td>
                    What don't need to know?
                </td>
                <td>
                    PHP, ASP, JAVA etc. Because AngularJS is a front end framework.
                </td>
            </tr>
            <tr>
                <td>
                    Purpose
                </td>
                <td>
                    Single Page Application
                </td>
            </tr>
        </table>
        <img ng-src="images/concepts-databinding2.png"/>
    </div>
</div>