<div class="row">
    <h3>Topics: Services in AngularJS, predefined, custom</h3>
    <div ng-controller="topic4Controller">
        <h4>Youtube</h4>
        <pre id="custom-spacing">{{ result | json:4 }}</pre>       
        <h4>Custom Service</h4>
        <pre>{{ msg }}</pre> 
        
    </div>
    <div class="col-sm-10">
        <table class="table table-bordered">
            <tr>
                <th>Concept</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    Services
                </td>
                <td>
                    AngularJS service for reading data from remote servers.
                </td>
            </tr>
            <tr>
                <td>
                    Predefined services
                </td>
                <td>
                   $http 
                </td>
                
            </tr>
            <tr>
                <td>
                    Custom.
                </td>
                <td>
                    Application developers are free to define their own services by registering the service's name and service factory function, with an Angular module.
                </td>
            </tr>
        </table>
        
    </div>
    
</div>