<div class="row">
    <div class="col-lg-5">
    <h3>Topics: Module, Directive, Two Data Binding</h3>
    <table class="table">
        <tr>
            <td>
                Enter name:
            </td>
            <td>
                <input type="text" ng-model="myName">
            </td>
        </tr>
        <tr>
            <td colspan="2" ng-show="myName">
                Hello {{myName}}
            </td>
        </tr>
    </table>
    </div>
    <div class="col-lg-5">
    <h3>Code & Logic</h3>
    
    </div>
</div>