<div class="row">
    <div class="col-lg-5">
        <h3>Topics: $scope, Dependency Injection, ng-repeat directive, filters, expression</h3>
        <div ng-controller="topic3Controller">
            {{msg}}
            <br/>
            Search by name: <input type="text" ng-model="empName">
            <br/>
            Search by Designation: <input type="text" ng-model="desig">
            <br/>
            Search by Experience: <input type="text" ng-model="exp">
            <p ng-show="empName">Your search result for : {{empName}}</p>
            <ul class="ul">
                <li ng-animate="'animate'" ng-repeat="employee in employees  | filter:empName | filter:exp | filter:desig | orderBy:'employee.name'">
                    Name : {{employee.name}}<br/>
                    Designation : {{employee.designation}} 
                    Experience : {{employee.experience}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-5">
        <table class="table table-bordered">
            <tr>
                <th>Concept</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    $scope
                </td>
                <td>
                    $scope is the application object (the owner of application variables and functions).
                </td>
            </tr>
            <tr>
                <td>
                   Dependency Injection
                </td>
                <td>
                    Dependencies required by a module, controller etc.
                </td>
            </tr>
            <tr>
                <td>
                    ng-repeat
                </td>
                <td>
                   A directive like foreach loop. 
                </td>
            </tr>
            <tr>
                <td>
                    Filters
                </td>
                <td>
                    Helps you to filter data at client side.
                </td>
            </tr>
            <tr>
                <td>
                    Expressions
                </td>
                <td>
                    Angularjs dynamic statements.
                </td>
            </tr>
            
        </table>
    </div>
</div>